generic:
  access_service_type: "yandex_v2"

  mlock: false

  logging:
    stderr: false

  server:
    http_port: 8788
    https_port: 8789
    ca_cert_file: path/to/ca.crt
    ssl_cert_file: path/to/ssl.crt

  auth:
    token_file: ydb/mvp/meta/examples/token_file.pb.txt

meta:
  meta_api_endpoint: grpc://meta.ydb.example.net:2135
  meta_database: /Root/meta
  meta_database_token_name: "service-account-jwt"
